<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head') %>

<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-hhJAYVyrVlbRqysQsau+3E35KWx0pWaf27oV34roF03qYpNoAUVh43RJweuW4zYuwCm/6RrXyjeY8GCt6mpLOA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

<body>
    <div class="header--sidebar"></div>



     <!--  Header-->

<%- include('../partials/navbar') %>
    <style>
        .mybody {
            font-family: Arial, sans-serif;
            background: linear-gradient(45deg, #9b59b6, #3498db);
            padding: 20px;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            /* height: 100vh; */
            margin: 0;
        }
        .address-card {
            background-color: #fff;
            border-radius: 10px;
            
            padding: 20px;
            margin-bottom: 20px;
            text-align: center;
        }
        .address-card h3 {
            margin-top: 0;
            color: #4CAF50;
        }
        .btn {
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            transition: background-color 0.3s ease;
        }
        .btn:hover {
            background-color: #45a049;
        }
        .btn-edit {
            background-color: #008CBA;
            margin-right: 10px;
        }
        .btn-delete {
            background-color: #f44336;
        }
        /* Larger font size for larger screens */
        @media (min-width: 1920px) {
            .address-card {
                font-size: 18px;
            }
        }
    </style>
</head>

<div class="ps-hero bg--cover" data-background="/user/images/hero/bread-1.jpg">
	<div class="ps-container">
	  <h3>AddressPage</h3>
	  <div class="ps-breadcrumb">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li class="active">ACCOUNT PAGE</li>
		  <li class="active">Address</li>
		</ol>
	  </div>
	</div>
  </div> 


   

     <div class="" style="margin-top: -70px;">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="margin-left: 25%; margin-bottom: 5%;margin-top: 10%;">
                <h3 class="text-center m-4" style="margin-bottom: 50px;">Your Address</h3>
                <div class="address-card">

                    <%  if (userAddress && userAddress.address) { %>
                        <% userAddress.address.forEach( (address,i) => { %> 

                             
            <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); padding: 30px; margin-bottom: 20px; border-radius: 5px;">
                             
                                <div >
                                    <h4 style="position: absolute;color: black;"><%= i+1 %>.</h4>
                                    <h5 class="mb-4 bg-dark text-light p-4 ">Address Of  <%= address.save_as %>
                                    </h5>
                                    </div>
                                     
                <div>       
                    <h5 class="mb-3">Name    :- <%= address.name %> </h5>
                    <p>Email    :- <%= address.email %> </p>
                    <p>Phone    :- <%= address.mobile %> </p>
                    <p>House    :- <%= address.housename %> </p>
                    <p>Street   :- <%= address.street %> </p>
                    <p>Pincode  :- <%= address.pincode %> </p>
                    <p>City     :- <%= address.city %> </p>
                    <p>State    :- <%= address.state %> </p>
                    <p>Country  :- <%= address.country %></p>
                </div>
                <div class="mb-4" >
                    <a href="/editAddress/<%= i %>"> <button class="btn btn-edit">Edit</button> </a>
                    <a onclick="delAddress('<%= i %>')" > <button class="btn btn-delete">Delete</button> </a>  
                </div>
               

            </div>
                    <% }) %>

                     <% } else { %>
                        <p class="p-4 bg-dark text-light"> no address found for this user.</p>
                    <% } %>
                    <a href="/addAddress" class="btn btn-primary btn-md mt-3">Add Address</a>


                     
                </div>
            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  
 
<script>
        function delAddress(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "Are you sure you want to proceed?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirm",
                cancelButtonText: "Cancel",
                dangerMode: true,
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/deleteAddress/" + id;
                } else {
                    console.log("User canceled");
                }
            });
        }
     
</script>


<%- include('../partials/footer')  %>


</body>

</html>
