<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-hhJAYVyrVlbRqysQsau+3E35KWx0pWaf27oV34roF03qYpNoAUVh43RJweuW4zYuwCm/6RrXyjeY8GCt6mpLOA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="header--sidebar"></div>



     <!--  Header-->

<%- include('../partials/navbar') %>

<style>
  /* Centering the form */
  .card-body {
    width: 350px;
    padding: 20px;
    background-color: #ddcece;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto; /* Center horizontally */
    margin-top: 50px; /* Adjust top margin as needed */
  }

  h2 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }

  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #408540;
    color: #fff;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #096f21;
  }

  .error {
    color: red;
  }
</style>




                <!-- Display success flash message -->
                <% if (messages.success) { %>
                  <div class="alert alert-success">
                      <%= messages.success %>
                  </div>
              <% } %>

              <!-- Display error flash message -->
              <% if (messages.error) { %>
                  <div id="error" style="color:rgb(213, 19, 19); font-size: 22px; font-weight: bold;" class="alert alert-warning">
                      <%= messages.error %>
                  </div>
              <% } %>





<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="card-body">
        <form action="/resetPasswordPost" method="post" id="changePasswordForm">
          <h2>Change Password</h2>
          <input type="password" name="pass" id="currentPassword" placeholder="Current Password" required>
          <input type="password" name="Npass" id="newPassword" placeholder="New Password" onkeyup="validatePassword()" required>
          <span id="password-error"></span>
          <input type="password" name="Cpass" id="confirmPassword" placeholder="Confirm Password" required>
          <p id="passwordError" class="error"></p>
          <input type="submit" value="Change Password">
        </form>
      </div>
    </div>
  </div>
</div>


 
 
<script>
  document.getElementById("changePasswordForm").addEventListener("submit", function(event) {
    const currentPassword = document.getElementById("currentPassword").value;
    const newPassword = document.getElementById("newPassword").value;
    const confirmPassword = document.getElementById("confirmPassword").value;
    const passwordError = document.getElementById("passwordError");

    if (newPassword !== confirmPassword) {
      passwordError.textContent = "New password and confirm password do not match";
      event.preventDefault(); 
      setTimeout(function() {
        passwordError.textContent = "";
      }, 3000); 
    } else {
      passwordError.textContent = "";
    }
  });
</script>


<script> 
  reload()
  const error = document.getElementById('error')
  function reload(){

      setTimeout(()=>{
          error.innerHTML=''
      },3000)
  }
  </script>


<script>
  const passwordError = document.getElementById('passwordError');
  function validatePassword() {
      const newPassword = document.getElementById('newPassword').value;
      if (newPassword.length < 6) {
          passwordError.textContent = 'Password is at least 6 characters long';
          passwordError.style.color = 'red';
          return false;
      }
      if (!newPassword.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$/)) {
          passwordError.textContent = 'Contain 1 lowercase, 1 Uppercase, 1 number, & 1 Special character ';
          passwordError.style.color = 'red';
          return false;
      } else {
          passwordError.textContent = '';
          passwordError.style.color = 'green';
          return true;
      }
  }
</script>

<%- include('../partials/footer')  %>
</body>

</html>
