<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head') %>


  <body>
    <div class="header--sidebar"></div>



     <!--  Header-->

<%- include('../partials/navbar') %>






  
    <div class="ps-slider--banner owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on">
      <div class="ps-product--banner">
        <div class="ps-product__thumbnail"><a href="#"><img src="/user/images/banner/banner-1.png" alt=""></a></div>
        <div class="ps-product__content">
          <h3>INDIA'S NO 1 STORE</h3>
              <!-- <select class="ps-rating">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select> -->
          <p>Dressed in soft velvet, extra deep, and wonderfully spacious. Also, lots of loose cushions that give comfort and support, for however you prefer to sit or lie down. A sofa to long for and enjoy for years. Perfect for relaxing with family and friends.</p>
          <!-- <h4><del> $300 </del> $155</h4> -->
          <div class="ps-product__actions"><a class="ps-btn" href="/product">Discover Your Perfect Purchase</a><a href="product-detail.html"></a></div>
        </div>
      </div>
      <div class="ps-product--banner">
        <div class="ps-product__thumbnail"><a href="#"><img src="/user/images/banner/banner-2.png" alt=""></a></div>
        <div class="ps-product__content">
          <h3>INDIA'S NO 1 STORE</h3>
              <!-- <select class="ps-rating">
                <option value="1">1</option>
                <option value="1">2</option>
                <option value="1">3</option>
                <option value="1">4</option>
                <option value="2">5</option>
              </select> -->
          <p>Dressed in soft velvet, extra deep and wonderfully spacious. Also, lots of loose cushions that give comfort and support, for however you prefer to sit or lie down. A sofa to long for and enjoy for years.</p>
          <!-- <h4><del> $300 </del> $155</h4> -->
          <div class="ps-product__actions"><a class="ps-btn" href="cart.html">explore the shopping</a><a href="product-detail.html"></a></div>
        </div>
      </div>
    </div>
    <div class="ps-section ps-home-categories">
      <div class="ps-container">
        <div class="ps-section__header text-center">
          <p>Wellcome to the shop</p>
          <h3 class="ps-section__title">Shop by category</h3><span class="ps-section__line"></span>
        </div>
        <div class="ps-section__content ps-col-tiny">
          <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Sofa%20%26%20Chaire"></a><i class="furniture-sofa-2"></i><a href="/product?category='Sofa & Chaire">Sofa &amp; Chair</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=cooking"></a><i class="furniture-desk-2"></i><a href="/product?category=cooking">Cooking</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Shelf"></a><i class="furniture-table-8"></i><a href="/product?category=Shelf">Shelf</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Seats"></a><i class="furniture-office-chair"></i><a href="/product?category=Seats">Seats</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Cabinets"></a><i class="furniture-cabinet-1"></i><a href="/product?category=Cabinets">Cabinets</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Lighting"></a><i class="furniture-lamp"></i><a href="/product?category=Lighting">Lighting</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Bed Room"></a><i class="furniture-bed"></i><a href="/product?category=Bed Room">Bed Room</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Stands"></a><i class="furniture-shelf-3"></i><a href="/product?category=Stands">Stands</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Chairs"></a><i class="furniture-armchair"></i><a href="/product?category=Chairs">Chairs</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=bathtub"></a><i class="furniture-bathtub2"></i><a href="/product?category=bathtub">Bathtub</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Sofa"></a><i class="furniture-sofa2"></i><a href="/product?category=Sofa">Sofa</a></div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 ">
                  <div class="ps-block--category" data-mh="category"><a class="ps-block__overlay" href="/product?category=Table"></a><i class="furniture-desk2"></i><a href="/product?category=Table">Table</a></div>
                </div>
          </div>
        </div>
        <div class="ps-section__footer text-center"><a class="ps-btn" href="/product">View all categories</a></div>
      </div>
    </div>
    <div class="ps-section ps-home-best-product">
      <div class="ps-container">
        <div class="ps-section__header text-center">
          <p>Choose your need item</p>
          <h3 class="ps-section__title">BEST OUR PRODUCT</h3><span class="ps-section__line"></span>
        </div>
        <div class="ps-section__content mt-100">
          <div class="row">


            <% for( let  i= 0;  i< productData.length; i++ ) { %>
            
            

                <div style="max-height:55vh" class="col-lg-3 mt-5 col-sm-6 ">
                  <div class="ps-product">
                    <div class="ps-product__thumbnail">
                      <!-- <div class="ps-badge"><span>New</span></div> -->
                      <!-- <div class="ps-badge ps-badge--sale"><span>-35%</span></div> -->
                      <a class="ps-product__favorite <% if ((productData[i].inWishlist)) { %>
                        active
                       <% } %>"
                       onclick="whishlist('<%= productData[i]._id %>')">
                        <% if (productData[i].inWishlist) { %> <i class="bi bi-heart-fill"></i>
                        <style>
                         .ps-product .active {
                             background-color: transparent;
                           }
                           .ps-product .active i {
                             background-color: transparent;
                             color: red;
                           }
                           .ps-product .active:hover {
                             background-color: transparent;
                           }
                        </style>
                        <% } else { %>
                         <i class="furniture-heart"></i>
                        <% } %></a>
                      <img style="aspect-ratio: 1/1; border-radius: 5px;" src="/uploads/<%= productData[i].image[0] %>" alt="Product Image">
                      <a class="ps-product__overlay" href="/productDetail?id=<%= productData[i]._id %>"></a>
                      <div class="ps-product__content full">
                        <div class="ps-product__variants">
                          <div class="item"><img src="/uploads/<%= productData[i].image[0] %>" alt=""></div>
                          <div class="item"><img src="/uploads/<%= productData[i].image[1] %>" alt=""></div>
                          <div class="item"><img src="/uploads/<%= productData[i].image[2] %>" alt=""></div>
                          <div class="item"><img src="/uploads/<%= productData[i].image[3] %>" alt=""></div>
                          <div class="item"><img src="/uploads/<%= productData[i].image[4] %>" alt=""></div>
                        </div>
                            <select class="ps-rating">
                              <option value="1">1</option>
                              <option value="1">2</option>
                              <option value="1">3</option>
                              <option value="1">4</option>
                              <option value="2">5</option>
                            </select><a class="ps-product__title" href="product-detail-2.html"><%= productData[i].productName %></a>
                        <div class="ps-product__categories"><a href="product-listing.html"><%= productData[i].discription %></a></div>
                        <p class="ps-product__price">
                          <del>Rs :<%= productData[i].price %></del>Rs :<%= productData[i].offerPrice %>
                        </p><a class="ps-btn ps-btn--sm"  onclick="addToCart('<%= productData[i]._id %>')">Add to cart</a>
                        <p class="ps-product__feature"><i class="furniture-delivery-truck-2"></i>Free Shipping in 24 hours</p>
                      </div>
                    </div>
                    <div class="ps-product__content">
                          <select class="ps-rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="2">5</option>
                          </select><a class="ps-product__title" href="product-detail-2.html"><%=productData[i].productName %></a>
                      <div class="ps-product__categories"><a href="product-listing.html"><%= productData[i].discription %></a></div>
                      <p class="ps-product__price">
                        <del>Rs :<%= productData[i].price %></del>Rs :<%= productData[i].offerPrice %>
                      </p>
                    </div>
                  </div>
                </div>


                <% } %>


          </div>
        </div>
      </div>
    </div>
    <!-- <div class="ps-home-features">
      <div class="ps-section__left bg--parallax" data-background="images/background/home-feature.jpg">
        <div class="ps-video"><a class="popup-youtube" href="https://www.youtube.com/watch?v=kJQP7kiw5Fk"><img src="/user/images/play.png" alt=""></a></div>
      </div>
      <div class="ps-section__right">
        <div class="ps-section__content">
          <h4>Dream homes for everybody</h4>
          <p class="mb-40">If you’re planning a stag do in Birmingham, you’d almost have to include some sporting activities. After all, Sport England has awarded Birmingham the title National City of Sport.</p>
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <p class="ps-block--feature"><i class="furniture-transfer"></i>Deliver Worldwide</p>
                  <p class="ps-block--feature"><i class="furniture-hours"></i>Faster Shipping in 24h</p>
                  <p class="ps-block--feature"><i class="furniture-telephone"></i>Support 24/7</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <p class="ps-block--feature"><i class="furniture-wind-rose"></i>Highest Quality</p>
                  <p class="ps-block--feature"><i class="furniture-credit-card-1"></i>Payment Security</p>
                  <p class="ps-block--feature"><i class="furniture-gift"></i>Sale Off in weekend</p>
                </div>
          </div>
        </div>
      </div>
    </div> -->


    
    <!-- <div class="ps-home-open-time bg--parallax" data-background="images/background/home-feature.jpg">
      <div class="container">
        <div class="ps-section__content">
          <h3>Visit our store</h3>
          <p>PO Box 16122 Collins Street West Victoria 8007 Australia <br> (+84 ) 7534 9773, (+84 ) 874 548</p><a class="ps-btn" href="contact-us.html">View google map</a>
          <div class="ps-open-time">
            <h4>Openning hour</h4>
            <p>Monday to Friday: 07:00 AM to 20:00 PM</p>
            <p>Saturday to Sunday: 08:00 AM to 18:00 PM</p>
          </div>
        </div>
      </div>
    </div> -->
    <div class="ps-home-features-2">
      <div class="container">
        <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="ps-block--icon"><i class="furniture-delivery-truck-1"></i>
                  <h4>Free Shipping <span> ON ORDER OVER $199</span></h4>
                  <p>Want to track a package? Find tracking information and order details from Your Orders.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="ps-block--icon"><i class="furniture-sofa"></i>
                  <h4>Everything Home <span> CHOOSE YOUR ITEM</span></h4>
                  <p>Shop zillions of finds, with new arrivals added daily.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="ps-block--icon"><i class="furniture-credit-card-1"></i>
                  <h4>Secure Payment <span> INFORMATION SECURITY</span></h4>
                  <p>Use the Shop Card for exclusive savings and financing options.</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                <div class="ps-block--icon"><i class="furniture-hours"></i>
                  <h4>Support 24/7 <span> ALWAYS LISTEN</span></h4>
                  <p>We offer a 24/7 customer hotline so you’re never alone if you have a question.</p>
                </div>
              </div>
        </div>
      </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>//ADD TO CART
      function addToCart(id){
          // Stringify the id once
          const data = JSON.stringify({ id: id });
          console.log(data);
  
          fetch('/addToCart', {
              body: data,
              method: 'post',
              headers: {
                  'Content-Type': 'application/json' // Specify the content type
              }
          })
          .then(response => {

            if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();

            
          }).then(data=>{
               // Handle the response as needed
              console.log('Response received:', data);
              console.log(data.success)
              if(data.success){


                if(data.message == "Out of stock" || data.message == "Only 5 items can be added"){
                  Swal.fire({
                    // position: "top-end",
                    icon: "warning",
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2500
                });
                }else{
                  Swal.fire({
                    // position: "top-end",
                    icon: "success",
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2500
                }).then(()=>{
                    window.location.reload()
                  })
                }  

              }else{
                              Swal.fire({
                title: "You are Not Loged in",
                text: "Do you want go Login. Press Login!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Login!"
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = '/login';
                }
              });
                

              }
          })
          .catch(error => {
              // Handle any errors
              console.error('Error occurred:', error);
          });
      }
  </script>
  

  <script>//WHISHLIST

  function whishlist(id){
    console.log('whishlist clicked');
          console.log(id);
          // Stringify the id once
          const data = JSON.stringify({ id: id });
          console.log(data);

          fetch('/addWhishlist', {
              body: data,
              method: 'post',
              headers: {
                  'Content-Type': 'application/json' // Specify the content type
              }
          })
          .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
                return response.json();
            }).then(data=>{
               // Handle the response as needed
                console.log('Response received:', data);
                console.log(data.success)
              if(data.success){
                Swal.fire({
                    // position: "top-end",
                    icon: "success",
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2500
                }).then(()=>{
                    window.location.reload()
                  })  

              }else{
                Swal.fire({
                    title: "You are Not Loged in",
                    text: "Do you want go Login. Press Login!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Login!"
                }).then((result) => 
              {
                
              if (result.isConfirmed) {
                  window.location.href = '/login';
                }
              });
            }
          })
          .catch(error => {
              // Handle any errors
              console.error('Error occurred:', error);
          });
  }


  </script>


    <%- include('../partials/footer')  %>
  
  </body>
</html>