


<%- include('../admin-partials/adminHedder') %>

<style>
  .pagination-container {
  display: flex;
  justify-content: center;
  /* position: fixed; */
  bottom: 20%; /* Adjust this value as needed */
  width: 90%;
}

.pagination {
  margin: 0;
}
</style>




        <!-- Sidebar Navidation Menus-->
        <span class="heading">Main</span>
        <ul class="list-unstyled">
                <li><a href="/admin"> <i class="icon-home"></i>Home </a></li>
                <li><a href="/admin/admin-userManage"> <i class="icon-grid"></i>User Manage</a></li>
                <li><a href="/admin/admin-productManage"> <i class="icon-grid"></i>Product Manage</a></li>
                <li><a href="/admin/admin_coupensManage"> <i class="icon-grid"></i>Coupens Manage</a></li>
                <li><a href="/admin/admin_offers"> <i class="icon-grid"></i> Offer Manage</a></li>


               
                <li class="active"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Category Manage </a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                      <li><a href="/admin/admin_addCategory">Add Category</a></li>
                    </ul>
                  </li>

                  <li><a href="/admin/admin_banner"> <i class="icon-grid"></i> Banner Manage</a></li>
                  <li><a href="/admin/admin_orders"> <i class="icon-grid"></i> Orders Manage</a></li>
               
                  
                  <% if (isSuperAdmin) { %>
                    <li><a href="/admin/admin_adminMnage"> <i class="icon-grid"></i> Admin Manage</a></li>
                  <% } %>
                  

  
               
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Category Manage</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Tables            </li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>FLOURISH CATEGORY MANAGEMENT</strong></div>
                  <div class="table-responsive"> 
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>SI No:</th>
                          <th>Category Name</th>
                          <th>Offer</th>
                          <th>Discount</th>
                          <th>description</th>
                          <th>Action</th>
                          <th>Edit</th>
                        </tr>
                      
                      </thead>
                      <tbody>
                        <% if(category.length){
                           for(i=0;i<category.length;i++){ %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= category[i].categoryName %></td>
                          <% if (category[i].offers && category[i].offers.offerName) { %>
                              <td><%= category[i].offers.offerName %></td>
                          <% } else { %>
                              <td>No Offers</td>
                          <% } %>
                          <% if (category[i].offers && category[i].offers.discount) { %>
                              <td><%= category[i].offers.discount %>%</td>
                          <% } else { %>
                              <td>No Discount</td>
                          <% } %>
                          
                          <td><%= category[i].description %></td>
                          <% if (category[i].status) { %>
                          <td><a href="/admin/categorystatus/<%= category[i]._id %>?status=<%= category[i].status %> "><button type="button" class="btn btn-outline-danger" style="width: 100px;">Block</button></a></td>
                          <% } else { %>
                          <td><a href="/admin/categorystatus/<%= category[i]._id %>?status=<%= category[i].status %>"><button type="button" class="btn btn-outline-secondary" style="width: 100px;">Unblock</button></a></td>
                          <% } %>
                          <td><a href="/admin/admin_editCategory/<%= category[i]._id %>%>"><button type="button" class="btn btn-outline-info" style="width: 100px;">Edit</button></a></td>
                          </tr>
                        </tr>
        
                        <%  }}  %> 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </section>

        <!-- Pagination -->
<div class="pagination-container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if (currentPage > 1) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      <% } %>
      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= currentPage == i ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
        <li class="page-item">
          <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</div>

      





          <%- include('../admin-partials/adminFooter') %>