<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
  <div class="header--sidebar"></div>

  <%- include('../partials/navbar') %>

  <div class="ps-hero bg--cover" data-background="/user/images/hero/bread-1.jpg">
    <img src="images/hero/contact-us.html" alt="">
    <div class="ps-container">
      <h3>my orders</h3>
      <div class="ps-breadcrumb">
        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">my orders</li>
        </ol>
      </div>
    </div>
  </div>



  <style>
    #progressbar {
      margin-bottom: 3vh;
      overflow: hidden;
      color: #26A541;
      padding-left: 0px;
      margin-top: 3vh
    }

    #progressbar li {
      list-style-type: none;
      font-size: x-small;
      width: 25%;
      float: left;
      position: relative;
      font-weight: 400;
      color: rgb(160, 159, 159);
    }

    #progressbar li:before {
      line-height: 29px;
      display: block;
      font-size: 12px;
      background: #ddd;
      border-radius: 50%;
      margin: auto;
      z-index: -1;
      margin-bottom: 1vh;
    }

    #progressbar li:after {
      content: '';
      height: 2px;
      background: #ddd;
      position: absolute;
      left: 0%;
      right: 0%;
      margin-bottom: 2vh;
      top: 1px;
      z-index: 1;
    }

    #progressbar li.active {
      color: black;
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
      background: #26A541;
    }

    #progressbar li.cancel:before,
    #progressbar li.cancel:after {
      background-color: #D95ABE;
    }

    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f3f3f3;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 2;
      border-radius: 1rem;
    }

    .dropdown-content .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f3f3f3;
      margin: 0 auto;
      margin-top: -10px;
    }

    .dropdown-content p {
      padding: 10px 12px;
      text-align: left;
      text-decoration: none;
      display: block;
      font-size: small;
    }

    .dropdown-content h6 {
      padding: 10px 12px;
      text-align: left;
      text-decoration: none;
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .shoping-cart-table thead td {
      padding: 0px 25px;
    }

    .shoping-cart-table thead .head-td {
      padding: 0px 25px 20px;
    }

    .fa-star {
      font-size: 1.5rem;
    }
  </style>




  <div class="liton__wishlist-area mb-105">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="shoping-cart-inner">
            <div class="shoping-cart-table table-responsive">

              <table style="width: 100%;">
                <thead style="background-color:#f7f8fa;">
                    <% const statuses = ["Order Placed", "Shipped", "Out for delivery", "Delivered"]; %>
                  <tr>
                    <td>Order Placed</td>
                    <td>Total</td>
                    <td>Ship To</td>
                    <td>Order <span style="font-size: small; font-weight: lighter;">#<%= data.orderID %></span></td>
                  </tr>
                  <tr style="padding-bottom: 20px;">
                    <td class="head-td"><%= data.status %></td>
                    <td class="head-td"><span class="math-inline">$<%= data.totalOrderValue %></span></td>
                    <td class="head-td">
                      <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <%= data.address%> <%= data.address%>
                        </a>
                        <div class="dropdown-content">
                          <div class="arrow-up"></div>
                          <h6><%= data.address %></h6>
                          <p>
                            <%= data.address.address %>,
                            <%= data.address.additional %>, <br>
                            <%= data.address.city %>, <%= data.address.state %>
                            <%= data.address.zip_code %>, <br>
                            <%= data.address.country %><br>
                            Phone number: <%= data.address.phone_number %><br>
                            Email: <%= data.address.email %><br>
                            <%= data.address.data_instruction %>
                          </p>
                        </div>
                      </div>
                    </td>
                    
                  </tr>
                </thead>
                <% data.products.forEach((product) => { %>
                <tbody>
                  <tr>
                    <td colspan="4">
                      <div class="progress-track" style="width: 100%;">
                        <ul id="progressbar">
                          <% statuses.forEach((status, index) => { %>
                          <li class="step<%= index + 1 %> 
                            <%= (index < product.status.length) ? 'active' : '' %> 
                            <%= (product.status.includes('Cancelled') && index < product.status.length) ? 'cancel' : '' %>"
                            id="step<%= index + 1 %>">
                            <%= status %>
                          </li>
                          <% }); %>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="cart-product-image" style="border: none;">
                      <a href="product-details.html">
                        <img style="width: 120px;height: 120px;" src="/uploads/<%= product.Image %>" alt="">
                      </a>
                    </td>
                    <td class="cart-product-info" style="border: none;">
                      <h4><a href="product/details"><%= product.productName %></a></h4>
                      <h6 class="cart-product-price">
                        Quantity: <span style="font-weight: normal; float: right;"><%= product.quantity %></span>
                      </h6>
                      <h6 class="cart-product-price">
                        Price: <span style="font-weight: normal; float: right;">₹<%= product.price %></span>
                      </h6>
                      <h6 class="cart-product-price">
                        Subtotal: <span style="font-weight: normal; float: right;">₹<%= product.productTotal %></span>
                      </h6>
                    </td>
                    <td class="cart-product-info" style="border: none;"></td>
                    <td class="cart-product-info" style="border: none;"></td>
                  </tr>
                </tbody>
                <% }); %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <%- include('../partials/footer') %>

</body>

</html>
