<!DOCTYPE html>
<html lang="en">
  

<%- include('../partials/head') %>
<link rel="stylesheet" href="/user/css/magicZoom.css" type="text/css">

  <body>

    <div class="header--sidebar"></div>
    <%- include('../partials/navbar') %>
    
    
    
    
 







    <div class="ps-hero bg--cover" data-background="user/images/hero/bread-2.jpg">
      <div class="ps-container">
        <h3>PRODUCT DETAIL PAGE</h3>
        <div class="ps-breadcrumb">
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Shop Page</li>
            <li class="active">Product detail Page</li>
          </ol>
        </div>
      </div>
    </div>
    <main class="ps-main">
      <div class="ps-container">
        <div class="ps-product--detail">
          <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 ">
                  <div class="ps-product__thumbnail">
                    <div class="ps-product__image">

                      <% for( let i = 0; i < data.image.length; i++ ) { %>
                        <div class="item"><a class="MagicZoom" id="Mag" href="/uploads/<%= data.image[i] %>"><img src="/uploads/<%= data.image[i] %>" alt=""></a></div>
                      <% } %>
                    </div>

                    <div class="ps-product__preview">
                      <div class="ps-product__variants">
                        <% for( let i = 0; i < data.image.length; i++ ) { %>
                          <div class="item"><img src="/uploads/<%= data.image[i] %>" alt=""></div>
                        <% } %>
                      </div>
                      <div class="ps-video"><a class="popup-youtube ps-product__video" href="https://www.youtube.com/watch?v=meBbDqAXago"><img src="user/images/product/detail/variant-5.jpg" alt=""><i class="fa fa-play"></i></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                  <div class="ps-product__info" style="margin-top: 25px;">
                    <div class="ps-product__rating">
                      <select class="ps-rating" id="product-rating" disabled>
                        <option value="1" <% if (data.ratingNumber >= 1) { %> selected <% } %> >1</option>
                        <option value="2" <% if (data.ratingNumber >= 2) { %> selected <% } %> >2</option>
                        <option value="3" <% if (data.ratingNumber >= 3) { %> selected <% } %> >3</option>
                        <option value="4" <% if (data.ratingNumber >= 4) { %> selected <% } %> >4</option>
                        <option value="5" <% if (data.ratingNumber >= 5) { %> selected <% } %> >5</option>
                      </select>
                      <a href="#"></a>
                    </div>
                    <h1><%= data.productName  %></h1>
                    <p class="ps-product__category"><a href="#"> <a href="#"></a><a href="#"> <%= data.category.categoryName %></a></p>
                    <h3 class="ps-product__price" style="margin-top: 20px;"><del><span></span>Rs:<%= data.price %></del> <span></span>Rs:<%= data.offerPrice %></h3>
                    <div class="ps-product__short-desc">
                      <p><%= data.discription %></p>
                    </div>
                    <!-- <div class="ps-product__block ps-product__style">
                      <h4>CHOOSE YOUR COLOR</h4>
                          <div class="ps-radio ps-radio--color ps-radio--inline color-1">
                            <input class="form-control" type="radio" id="color-1" name="color">
                            <label for="color-1"></label>
                          </div>
                          <div class="ps-radio ps-radio--color ps-radio--inline color-2">
                            <input class="form-control" type="radio" id="color-2" name="color">
                            <label for="color-2"></label>
                          </div>
                          <div class="ps-radio ps-radio--color ps-radio--inline color-3">
                            <input class="form-control" type="radio" id="color-3" name="color">
                            <label for="color-3"></label>
                          </div>
                          <div class="ps-radio ps-radio--color ps-radio--inline color-4">
                            <input class="form-control" type="radio" id="color-4" name="color">
                            <label for="color-4"></label>
                          </div>
                    </div> -->
                    <div class="ps-product__block ps-product__size" style="margin-top: 25px;">
                      <h4>CHOOSE QUANTITY</h4>
                      <select class="ps-select selectpicker" title="Select Quantity">
                        <option value="0">1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                        <option value="4">5</option>
                      </select>
                      <div class="form-group ps-number">
                        <!-- <input class="form-control" type="text" value="1"><span class="up"></span><span class="down"></span> -->
                      </div>
                    </div>
                    <div class="ps-product__shopping" style="margin-top: 50px;"><a class="ps-btn" onclick="addToCart('<%= data._id %>')">Add To Cart</a>
                      <div class="ps-product__actions"><a class="ps-product__favorite <% if ((data.inWishlist)) { %>
                        active
                       <% } %>"
                       onclick="whishlist('<%= data._id %>')">
                        <% if (data.inWishlist) { %> <i class="bi bi-heart-fill"></i>
                        <style>
                         .ps-product .active {
                             background-color: transparent;
                           }
                           .ps-product .active i {
                             background-color: transparent;
                             color: red;
                           }
                           .ps-product .active:hover {
                             background-color: transparent;
                           }
                        </style>
                        <% } else { %>
                         <i class="furniture-heart"></i>
                        <% } %></a></i></a></div>
                    </div>
                    <div class="ps-product__sharing">
                      <!-- <p>Share this:<a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a></p> -->
                    </div>
                  </div>
                </div>
          </div>

          
          <div class="ps-product__content">
            <ul class="tab-list" role="tablist">
              <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">Overview</a></li>
              <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Review</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="tab_01">
              <p>Caramels tootsie roll carrot cake sugar plum. Sweet roll jelly bear claw liquorice. Gingerbread lollipop dragée cake. Pie topping jelly-o. Fruitcake dragée candy canes tootsie roll. Pastry jelly-o cupcake. Bonbon brownie soufflé muffin.</p>
              <p>Sweet roll soufflé oat cake apple pie croissant. Pie gummi bears jujubes cake lemon drops gummi bears croissant macaroon pie. Fruitcake tootsie roll chocolate cake Carrot cake cake bear claw jujubes topping cake apple pie. Jujubes gummi bears soufflé candy canes topping gummi bears cake soufflé cake. Cotton candy soufflé sugar plum pastry sweet roll..</p>
            </div>


            <div class="tab-pane" role="tabpanel" id="tab_02">


            <% for( let i = 0; i < data.userRatings.length; i++ ) { %>
            
           

            
              <p><%= i+1 %> review for <strong><%= data.userRatings[i].userId.name %></strong></p>
              <div class="ps-review">
                <% if (data.userRatings[i].userId.image) { %>
                  <div class="ps-review__thumbnail"><img src="<%= data.userRatings[i].userId.image %>" alt=""></div>
                  <% } else { %>
                    <div class="ps-review__thumbnail"><img src="user/images/user/1.jpg" alt=""></div>
                <% } %>
                
                <div class="ps-review__content">
                  <header>
                    <select class="ps-rating" id="product-rating" disabled>
                      <option value="1" <% if (data.userRatings[i].rating >= 1) { %> selected <% } %> >1</option>
                      <option value="2" <% if (data.userRatings[i].rating >= 2) { %> selected <% } %> >2</option>
                      <option value="3" <% if (data.userRatings[i].rating >= 3) { %> selected <% } %> >3</option>
                      <option value="4" <% if (data.userRatings[i].rating >= 4) { %> selected <% } %> >4</option>
                      <option value="5" <% if (data.userRatings[i].rating >= 5) { %> selected <% } %> >5</option>
                    </select>
                    <p>By<a href="#"> <%= data.userRatings[i].userId.name %>
                      <% if (data.userRatings[i].date) { %>
                      </a> - <%= data.userRatings[i].formattedDate %></p>
                      <% } else { %>
                      </a> - June 16, 2024</p>
                      <% } %>
                  </header>
                  <p><%= data.userRatings[i].review %></p>
                </div>
              </div>
           
            

            <% } %>

          </div>
          </div>
        </div>
      </div>
    </main>






    <div class="ps-section ps-home-promotions">
      <div class="ps-container">
        <div class="ps-section__header text-center">
          <p>Here are key products that bring fashionistas to Furniture Store.</p>
          <h3 class="ps-section__title">YOU MIGHT ALSO LIKE</h3><span class="ps-section__line"></span>
        </div>
        <div class="ps-section__content">
          <div class="ps-slider--center owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="3000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="off">


            <% for( let i = 0; i < fewPro.length; i++ ) { %>
            
            

            <div class="ps-product" >
              <div class="ps-product__thumbnail">
                <div ></div><a  ><i ></i></a><img style="aspect-ratio: 1/1; border-radius: 5px;"  src="/uploads/<%= fewPro[i].image[0] %>" alt=""><a class="ps-product__overlay" href="/productDetail?id=<%= fewPro[i]._id %>"></a>
              </div>
              <div class="ps-product__content">
                    <select class="ps-rating">
                      <option value="1">1</option>
                      <option value="1">2</option>
                      <option value="1">3</option>
                      <option value="1">4</option>
                      <option value="2">5</option>
                    </select><a class="ps-product__title" href="product-detail-2.html"><%= fewPro[i].productName %></a>
                <div class="ps-product__categories"><a href="product-listing.html"><%= fewPro[i].discription %></a></div>
                <p class="ps-product__price">
                  <del><%= fewPro[i].price %></del><%= fewPro[i].offerPrice %>
                </p>
              </div>
            </div>


            <% } %>




          </div>
        </div>
      </div>
    </div>
   
   


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>//ADD TO CART
      function addToCart(id){
          // Stringify the id once
          const data = JSON.stringify({ id: id });
          console.log(data);
  
          fetch('/addToCart', {
              body: data,
              method: 'post',
              headers: {
                  'Content-Type': 'application/json' // Specify the content type
              }
          })
          .then(response => {

            if (!response.ok) {
      throw new Error('Network response was not ok');
    }
    return response.json();

            
          }).then(data=>{
               // Handle the response as needed
              console.log('Response received:', data);
              console.log(data.success)
              if(data.success){


                console.log(data.message);
                if(data.message == "Out of stock" || data.message == "Only 5 items can be added"){
                  Swal.fire({
                    // position: "top-end",
                    icon: "warning",
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2500
                });  
                }else{
                  Swal.fire({
                    // position: "top-end",
                    icon: "success",
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2500
                }).then(()=>{
                    window.location.reload()
                  });
                }  

              }else{
                              Swal.fire({
                title: "You are Not Loged in",
                text: "Do you want go Login. Press Login!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Login!"
              }).then((result) => {
                if (result.isConfirmed) {
                  window.location.href = '/login';
                }
              });
                

              }
          })
          .catch(error => {
              // Handle any errors
              console.error('Error occurred:', error);
          });
      }
  </script>




<script>//WHISHLIST

  function whishlist(id){
    console.log('whishlist clicked');
          console.log(id);
          // Stringify the id once
          const data = JSON.stringify({ id: id });
          console.log(data);

          fetch('/addWhishlist', {
              body: data,
              method: 'post',
              headers: {
                  'Content-Type': 'application/json' // Specify the content type
              }
          })
          .then(response => {
              if (!response.ok) {
                throw new Error('Network response was not ok');
              }
                return response.json();
            }).then(data=>{
               // Handle the response as needed
                console.log('Response received:', data);
                console.log(data.success)
              if(data.success){
                Swal.fire({
                    // position: "top-end",
                    icon: "success",
                    title: data.message,
                    showConfirmButton: false,
                    timer: 2500
                }).then(()=>{
                    window.location.reload()
                  });  

              }else{
                Swal.fire({
                    title: "You are Not Loged in",
                    text: "Do you want go Login. Press Login!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Login!"
                }).then((result) => 
              {
                
              if (result.isConfirmed) {
                  window.location.href = '/login';
                }
              });
            }
          })
          .catch(error => {
              // Handle any errors
              console.error('Error occurred:', error);
          });
  }


  </script>


    <script src="/user/js/magicZoom.js"></script>


    <%- include('../partials/footer')  %>



  </body>


</html>