

<%- include('../admin-partials/adminHedder') %>




        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
                <li><a href="/admin"> <i class="icon-home"></i>Home </a></li>
                <li class="active"><a href="/admin/admin-userManage"> <i class="icon-grid"></i>User Manage </a></li>
                <li><a href="/admin/admin-productManage"> <i class="icon-grid"></i>Product Manage</a></li>
                <li><a href="/admin/admin_coupensManage"> <i class="icon-grid"></i>Coupens Manage</a></li>
                <li><a href="/admin/admin_categoryList"> <i class="icon-grid"></i> Category Manage </a></li>
                <li><a href="/admin/admin_banner"> <i class="icon-grid"></i> Banner Manage</a></li>
                <li><a href="/admin/admin_orders"> <i class="icon-grid"></i> Orders Manage</a></li>
                <li><a href="/admin/admin_adminMnage"> <i class="icon-grid"></i> Admin Manage</a></li>



                
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">User Manage</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Tables            </li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>FLOURISH USER MANAGEMENT</strong></div>
                  <div class="table-responsive"> 
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>SI No:</th>
                          <th>User Name</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(users.length){ for(i=0;i<users.length;i++){ %>
                        <tr>
                          <th scope="row"><%= i+1 %></th>
                          <td><%= users[i].name %></td>
                          <td><%= users[i].email %></td>
                          <td><%= users[i].phone %></td>
                          <% if (users[i].status) { %>
                            <td><a href="/admin/userStatus/<%= users[i]._id %>?status=<%= users[i].status %> "><button type="button" class="btn btn-outline-danger" style="width: 100px;">Block</button></a></td>
                        <% } else { %>
                            <td><a href="/admin/userStatus/<%= users[i]._id %>?status=<%= users[i].status %>"><button type="button" class="btn btn-outline-secondary" style="width: 100px;">Unblock</button></a></td>
                        <% } %>
                        
                        </tr>
                        

                        <%  }}  %> 


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </section>
   





        <%- include('../admin-partials/adminFooter') %>